doctype
html
  head
    title Tasky
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="styles/application.css")

  body
    .main-container
    script!= imports
    script(src="scripts/bundle-vendors.js")
    script(src="scripts/bundle.js")
