#menu
  width 20%
  float left
  background #F2F2F2
  height 100%
  position fixed
  overflow auto

  .fa-arrow-left
    display none

  ul
    margin 0
    padding 0
    list-style-type none

      a
        margin-bottom -5.1px // dirty hack because of overflow blank space...

    &.tags
      margin-bottom 20px

    li
      display block
      font-family styled
      font-weight normal
      position relative

      a
        display inline-block
        width 100%
        height 100%

        &:hover
          background #FFC47F

        // remove inherit styles
        text-decoration none
        color #333
        padding 10px

        text-overflow ellipsis
        white-space nowrap
        overflow hidden

      .submenu
        margin-top -5.1px // dirty hack because of overflow blank space...
      .submenu > li a
        padding-left 25px

      .sorts
        position absolute
        top 0
        right 0
        li
          float right
          a
            height 39px

      &.first-level > a
        opacity 0.4

      &.selected > a
        background #aedbff
      &.active > a i.tag-icon
        opacity 0.8
      &.active.first-level > a
        opacity 1

      &.magic a
        color blue - 30%




