#menu
  width 20%
  float left
  background #F2F2F2
  height 100%
  position fixed
  overflow auto

  ul
    margin 0
    padding 0
    list-style-type none

    &.permanent
      border-bottom 1px solid #ddd

      a
        margin-bottom -5.1px // dirty hack because of overflow blank space...

    &.tags
      margin-bottom 20px

    li
      display block
      font-family styled
      font-weight normal

      a
        display inline-block
        width 100%
        height 100%

        &:hover
          background #FFC47F

        // remove inherit styles
        text-decoration none
        color #333
        padding 10px

        text-overflow ellipsis
        white-space nowrap
        overflow hidden

      .submenu
        margin-top -5.1px // dirty hack because of overflow blank space...
      .submenu > li a
        padding-left 25px

      &.selected > a
          background #aedbff


