// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_cozy'
@import '_menu'

.spinner
    margin auto

*
    box-sizing border-box

body
    background #fff

.container
    margin-left 20%

i.tag-icon
    background url('../images/tag.png') no-repeat
    width 13px
    height 17px
    margin-right 5px
    display inline-block
    opacity 0.2

.fa-bars
    display none

h1
    border-bottom 1px solid #ccc
    margin 20px
    font-family styled
    font-weight normal
    font-size 25px
    padding-bottom 10px

    // new search form
    span.size-calculator
    input
        width 150px
        padding 0 3px
        margin 0 1px
        font-size 20px
        border 1px solid transparent
        white-space pre
        margin-left 5px

        &:hover
            border 1px solid orange
        &:focus
            border 1px solid blue
            outline none
        &.error
            border 1px solid red

    span.size-calculator
        visibility hidden

    .breadcrumb-item
        display inline-block
        padding 5px
        margin 0 5px
        font-size 20px
        background #ebf6ff
        color #3097d8
        border 1px solid transparent
        cursor pointer

        a
            font-size 13px
            margin-left 10px
            vertical-align middle
            text-decoration none

        &:hover
            background #fff3e5
            color #985200
            border 1px solid orange

            a
                color #985200
                &:hover
                    color red

        &.excluded
            background #fff3e5
            color #985200

            a
                color #985200

            &:hover
                border 1px solid blue
                background #ebf6ff
                color #3097d8

                a
                    color #3097d8
                    &:hover
                        color red


        &.notice-delete-action
            border-color red + 20% !important

#actions
    font-family styled
    margin 0 20px
    button.button
        padding 8px
        font-size 12px
        margin 0 5px
        &:focus
            outline none

        &.disable
            background grey
            &:active
                box-shadow none

#new-task
    margin 15px 20px

    .button.disabled
        padding 8px

    .todo-field input
        border 1px solid #ccc

ul#task-list
ul#task-list-done
    list-style-type none
    padding 0
    padding-bottom 10px

.task
    margin 15px 20px
    padding 0

    &.done button
        background green
        &:hover
            background orange

    &.done:not(.archive) .todo-field input
        text-decoration line-through


    .task-container
        display table

    .button
    .todo-field
        display table-cell

    .button
        width 75px
        padding 8px
        font-size 13px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

        &.disabled
            box-shadow none

        &:focus
            outline none

    .todo-field
        width 100%
        padding-left 10px

        input
            width 100%
            padding 6px

            border 1px solid transparent
            &:hover
                border 1px solid orange
            &:focus
                border 1px solid blue
                outline none

    .todo-completionDate
        font-size 10px

#block
    display none
    position absolute
    width 100%
    height 100%
    background #333
    opacity 0.8
#modal
    display none
    position absolute
    width 50%
    height 110px
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    padding 20px
    border 10px solid blue
    border-radius 5px
    background #fff
    text-align center
    overflow auto

@media (max-width: 960px)
    #menu
        display none
        width 50%
        position relative

        .fa-arrow-left
            font-size 25px
            margin 10px 0
            position absolute
            right 15px
            top 0
            display block

        ul
            margin-top 40px

    .container
        margin auto

        .fa-bars
            display inline-block
            margin 20px 0 0 20px
            font-size 25px

        h1#breadcrumb
            display inline-block
            border-bottom 0
            margin 10px auto 0 20px

@media (min-width: 1900px)
    .container
        width 75%

