---
    extends: "airbnb"
    parser: "babel-eslint"
    env:
        browser: true
        node: true
        mocha: true
    globals:
        t: false
    ecmaFeatures:
        jsx: true
    plugins:
        - react
    rules:
        max-len: [1, 80, 4]
        indent: [2, 4, {"SwitchCase": 1}]
        new-cap: [2, {
            "newIsCap": true,
            "capIsNewExceptions": ["Map", "Record", "List"]
        }]

        "react/display-name": 1
        "react/jsx-no-duplicate-props": 1
        "react/no-danger": 1
        "react/require-extension": 1
