#actions
    font-family styled
    font-size 18px
    margin 0 20px

    [role="button"]
        font-size 20px
        color blue
        cursor pointer
        margin 0 5px
        &:hover
            color orange !important

        &.disable
            color grey !important
            cursor not-allowed

        &.is-favorite
            color yellow
