// Base Styles

blue = #34A6FF
lightblue = #CBE4FB
greyblue = #34A6BB
green = #5C5
orange = #fe8800
lightorange = #FFC47F
darkgrey = #333
lightgrey = #CCC
grey = #AAA
red = #DD3333
yellow = #FFDC00

@font-face
    font-family: fontawesome
    src url('../fonts/fontawesome-webfont.ttf')


*
    box-sizing border-box

html
body
    height 100%
    width 100%
    padding 0
    margin 0
    overflow hidden

body
    text-rendering: optimizeLegibility

body
input
    color #555
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

h2
    font-family styled

a
a:visited
    color #0086cc
    text-decoration none

    &:hover
        text-decoration underline
