#block
    display block
    position absolute
    width 100%
    height 100%
    background #333
    opacity 0.8
#modal
    display block
    position absolute
    width 50%
    height 110px
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    padding 20px
    border 10px solid blue
    border-radius 5px
    background #fff
    text-align center
    overflow auto
