#actions
    font-family styled
    margin 0
    font-size 18px

    [role="button"]
        font-size 20px
        color blue
        cursor pointer
        margin 0 5px
        &:hover
            color orange

        &.disable
            color grey
            cursor not-allowed
