body
    background #fff
    height 100%

#mount-point
[role="application"]
    height 100%

.container
    float left
    margin 0
    padding 0
    width 80%
    height 100%
    margin-left 20%

[role="main"]
    display flex
    flex-direction column
    height 100%
    position relative

    padding 0 //20px

    #task-list
        flex 1
        overflow-y auto
