// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@require 'nib'
@require '../../vendors/styles/normalize.css'
@require '../../vendors/styles/font-awesome.css'
@require '_base'
@require '_cozy'
@require '_menu'
@require '_layout'
@require '_breadcrumb'
@require '_task'
@require '_actions'
@require '_modal'
@require '_progressbar'


.fa-bars
    display none

ul#task-list
ul#task-list-done
    list-style-type none
    padding 0
    margin 0 20px


@media (max-width: 960px)
    #menu
        left -100%
        width 80%
        position relative
        transition left .3s

        .fa-arrow-left
            font-size 30px
            position absolute
            right 10px
            top 10px
            display block

        // prevent clicking links when clicking the closing arrow
        &>ul > li
            max-width 50%

    .container
        margin 0
        left 0
        width 100%
        position absolute
        transition left .3s

        [role="main"]
            padding-top 10px

            #breadcrumb
            #task-list
            #task-list-done
            .new-task
                margin-left 10px !important
                margin-right 10px !important

            #actions
            #progressbar
                display none

        .fa-bars
            display inline
            margin-right 10px
            font-size 35px

        h1#breadcrumb
            margin-top 0

            #add-tag-form
                display none

    .task
        [role="checkbox"]
        [role="checkbox"] label::before
            width 40px
        [role="button"]
            width 42px
    [role="application"].menuOpen
        #menu
            left 0
            transition left .3s
        .container
            left 80%
            transition left .3s

@media (min-width: 1900px)
    .container
        width 75%

