// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@require 'nib'
@require '../../vendors/styles/normalize.css'
@require '../../vendors/styles/font-awesome.css'
@require '_base'
@require '_cozy'
@require '_menu'
@require '_layout'
@require '_breadcrumb'
@require '_task'
@require '_actions'
@require '_modal'
@require '_progressbar'


.fa-bars
    display none

ul#task-list
ul#task-list-done
    list-style-type none
    padding 0
    margin 0 20px


@media (max-width: 960px)
    #menu
        display none
        width 50%
        position relative

        .fa-arrow-left
            font-size 25px
            margin 10px 0
            position absolute
            right 15px
            top 0
            display block

        ul
            margin-top 40px

    .container
        margin 0
        width 100%

        [role="main"]
            padding 10px

        .fa-bars
            display inline
            margin-right 10px
            font-size 25px

        h1#breadcrumb
            margin-top 0

            #add-tag-form
                display none

    .task
        [role="checkbox"]
        [role="checkbox"] label::before
            width 30px
        [role="button"]
            width 32px

@media (min-width: 1900px)
    .container
        width 75%

