ul.permanent
    li.first-level
        a(href="#") All (#{allCount})
    li.first-level
        a(href="#untagged") Untagged (#{untaggedCount})
    li.first-level
        a(href="#archived") Archived (#{archivedCount})

ul.tags