ul
    li#settings.first-level
        a(href='#')#order Toggle sort order
    li#tobedone.first-level
        a(href="#") #{t('todo')} (#{allCount})
        ul.submenu
    li#archived.first-level
        a(href="#archived") #{t('archived')} (#{archivedCount})
        ul.submenu
