i.fa.fa-arrow-left
ul
    li#tobedone.first-level
        a(href="#") #{t('todo')} (#{allCount})
        ul.sorts
            li
                a(href='#').fa.fa-sort-alpha-asc#sortalpha
            li
                a(href='#').fa.fa-sort-numeric-desc#sortcount
        ul.submenu
    li#archived.first-level
        a(href="#archived") #{t('archived')} (#{archivedCount})
        ul.submenu
